[submodule "docker/plugins/k"]
	path = docker/plugins/k
	url = git@github.com:supercrabtree/k.git
[submodule "docker/plugins/zsh-autosuggestions"]
	path = docker/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "docker/plugins/zsh-completions"]
	path = docker/plugins/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "docker/plugins/zsh-syntax-highlighting"]
	path = docker/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
