.DS_Store
.zcompdump*
root/.local/**
root/.tldr/**
root/.z
root/.zsh_history
root/.ssh
root/.aws
root/.oh-my-zsh
root/.lesshst
root/.node_repl_history
root/.sudo_as_admin_successful
bin/run2.sh
root/.npm
root/.config/configstore/update-notifier-npm.json
docker/.aws
docker/.ssh
root/.docker
root/.config
